[submodule "refs/hts-engine"]
	path = refs/hts-engine
	url = git@github.com:kbinani/hts-engine.git
[submodule "refs/gtest"]
	path = refs/gtest
	url = https://github.com/kgcd/gtest.git
[submodule "refs/cadencii_synth_api"]
	path = refs/cadencii_synth_api
	url = git@github.com:cadencii/cadencii_synth_api.git
